// .app-list {
//     .list-group-item {
//         // background: linear-gradien(to left, #333, #231 50%, #fee8 75%, #fe8e8e 20%);
//         // background-color: lightcoral;
//         // background-color: #000000;
//         // color: green;
//         // background: rgb(189, 206, 245);
//         // background: rgba(11, 41, 100, 0.527);
//     }
// }